<table class='table table-striped table-condensed' ng-show=posts.length>
	<colgroup>
		<col style="width: 20%">
		<col style="width: 80%">
	</colgroup>
	<thead>
		<tr>
			<th ng-click="column='modified'">Time <span
				ng-show="column=='modified' || column==undefined">▽</span></th>
			<th ng-click="column='title'">Post <span
				ng-show="column=='title'">▽</span></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat='post in posts | orderBy: (column || "modified")'
			ng-click='go("/post/"+post.id)'>
			<td><span>{{post.created | date}}</span></td>
			<td><p>
					<b>{{post.title}}</b>
				</p>{{post.content | truncate: 200}}</td>
		</tr>
	</tbody>
</table>
